<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高中互评</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>高中互评</h1>
    <h2>*此表仅作为新生择校参考，希望获得信息的学校可以填写问卷，感谢留言的学长学姐们! 请只在学生中传!                    </h1>
    </h2>
    <div class = "buttons">
        <button id="meiqubtn">美区🇺🇸</button>
          <button id="yingqubtn">英区🇬🇧</button>
          <button id="aoqubtn">澳区🇦🇺</button>
          <button id="jiaqubtn">加区🇨🇦</button>
          <button id="zhongqubtn">中区🇨🇳</button>
          <button id="gangqubtn">港区🇭🇰</button>
          <button id="qitabtn">其他💗</button>
      </div>
    <script>
        // Add click event listeners to each button
        document.getElementById("meiqubtn").addEventListener("click", function() {
            window.location.href = "/meiqu";  
        });
        document.getElementById("yingqubtn").addEventListener("click", function() {
            window.location.href = "/yingqu";  
        });
        document.getElementById("aoqubtn").addEventListener("click", function() {
            window.location.href = "/aoqu";  
        });
        document.getElementById("jiaqubtn").addEventListener("click", function() {
            window.location.href = "/jiaqu"; 
        });
        document.getElementById("zhongqubtn").addEventListener("click", function() {
            window.location.href = "/zhongqu"; 
        });
        document.getElementById("gangqubtn").addEventListener("click", function() {
            window.location.href = "/gangqu"; 
        });
        document.getElementById("qitabtn").addEventListener("click", function() {
            window.location.href = "/qita"; 
        });
    </script>
</body>
</html>