<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高中互评</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="not">
        <p>上次更新: 2024/4/24 11:12PM 美西</p>
        <p>请刷新页面来查看最新表格</p>
    </div>
    <h1>美区🇺🇸</h1>
    <h2>*此表仅作为新生择校参考，希望获得信息的学校可以填写问卷，感谢留言的学长学姐们! 请只在学生中传!                    </h1>
    </h2>
    <div id="table-container">
        <table id="excel-table">
            <!-- Table content will be generated here -->
        </table>
    </div>
    <div class="watermark">
        <!-- Watermark content -->
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>